<div class="panel panel-default artcard">

  <div class="panel-body artcard-body">
    Image and Title | Artist Name go in here

  </div>

  <div class="panel-footer artcard-footer">
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bookmark-o fa-stack-1x bookmark-icon"></i>
    </span></a>
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-heart-o fa-stack-1x heart-icon"></i>
    </span></a>
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-comment-o fa-stack-1x comment-icon"></i>
    </span></a>
  </div>
</div>
