<div class="panel panel-default" id="artcard">

  <div class="panel-heading">
    <div class="panel-title text-uppercase">Art Title Here</div>
  </div>

  <div class="panel-body" id="artcard-body">
    Artist Name, Art Medium, Year
  </div>

  <div class="panel-footer artcard-footer">
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bookmark-o fa-stack-1x bookmark-icon"></i>
    </span></a>
    <!-- <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-heart-o fa-stack-1x heart-icon"></i>
    </span></a>
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-comment-o fa-stack-1x comment-icon"></i>
    </span></a> -->
  </div>

</div>

<div class="panel panel-default" id="artcard">

  <div class="panel-heading">
    <div class="panel-title text-uppercase">Art Title Here</div>
  </div>

  <div class="panel-body" id="artcard-body">
    Artist Name, Art Medium, Year
  </div>

  <div class="panel-footer artcard-footer">
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bookmark-o fa-stack-1x bookmark-icon"></i>
    </span></a>
    <!-- <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-heart-o fa-stack-1x heart-icon"></i>
    </span></a>
    <a href="#"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-comment-o fa-stack-1x comment-icon"></i>
    </span></a> -->
  </div>

</div>
