<div class="panel panel-default" id="artcard">

  <div class="panel-heading">
    <div class="panel-title text-uppercase">Art Title Here</div>
  </div>

  <div class="panel-body" id="artcard-body">
    Artist Name, Art Medium, Year
  </div>

</div>

<div class="panel panel-default" id="artcard">

  <div class="panel-heading">
    <div class="panel-title text-uppercase">Art Title Here</div>
  </div>

  <div class="panel-body" id="artcard-body">
    Artist Name, Art Medium, Year
  </div>

</div>
