<nav class="navbar navbar-default navbar-fixed-top"> <!-- Main Layout Header -->
  <div class="col-md-8">
  <a class="navbar-brand" href="/">
        <img alt="ArtMapr Brand Logo" src="images/ArtMapr-Logo-05.png" width="80px">
    </a>
    </div>
    <div class="col-md-4 navbar-right">
      <a href="/login" id="login-button" class="btn btn-outlined btn-theme">Log In</a>
      <a href="/signup" id="signup-button" class="active btn btn-outlined btn-theme">Sign Up</a>
    </div>
</nav>
