<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
	</head>

	<body>

		<div class="container-fluid main-wrapper" style="padding-left: 0;">

			<div class="header clearfix">
				<% include partials/nav %>
			</div>

			<footer class="context footer">
				<div class="container">
					<% include partials/footer %>
				</div>
			</footer>
			
		</div>
	</body>
</html>
