<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Welcome to ArtMapr</title>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Bootstrap and Bootcards CSS / JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>

	<!-- MapBox CSS/JS -->
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>

	<link rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

	<!-- ArtMapr CSS/JS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="javascript/app.js"></script>

	<!-- Sidepanel CSS -->
	<link rel="stylesheet" href="stylesheets/light-theme.css">
    <link rel="stylesheet" href="stylesheets/makeitresponsive.css">

    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="col-md-8">
		<a class="navbar-brand" href="/">
        	<img alt="ArtMapr Brand Logo" src="images/ArtMapr-Logo-05.png" width="80px">
    	</a>
    	</div>
    	<div class="col-md-4 navbar-right">
    		<a href="/login" id="login-button" class="btn btn-outlined btn-theme">Log In</a>
    		<a href="/signup" id="signup-button" class="active btn btn-outlined btn-theme">Sign Up</a>
    	</div>
	</nav>

	<% include partials/nav %>

	<div class="container-fluid">
		<div id="map" class="col-xs-12 col-sm-6 col-md-8"></div>
		<!-- Geolocation Button -->
		<!-- <a href='#' id='geolocate' class='ui-button'>Find me</a> -->

		<div id="sidepanel" class="col-xs-6 col-md-4">

	        <div class="context subheader" style="border-bottom-color: transparent">
	          <!-- <p>Map created by <a href="#">{Link to your website}</a></p> -->
	          <!-- <form class="navbar-form" role="search"> -->
	          	<!-- <input type="text" class="form-control" placeholder="Search"> -->
	          </form>
	        	<!-- <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button> -->
	        </div>

	        <article class="panel panel-default col-md-6 col-xs-12" id = "artmapr-cards">

				  <div class="panel-heading">
				    <h3 class="panel-title"><%= title %></h3>
				  </div>

				  <div class="panel-body">
				  	<% for (var i = 0; i < ) %>
				  	<h5><span>Artist:</span><%= artist %></h5>
				  </div>

				  <img src="images/d_bloomfield.jpg" class="img-responsive" alt="Responsive image"/>

				  <!-- <div class="panel-footer">
				    <div class="btn-group btn-group-justified"></div>
				  </div> -->

			</article>
	    </div>
    </div>

	<script type = "text/template" id = "artmapr-cards-template">
	/* Template goes here*/

/*	$("#login-trigger").click(function(){
	  $('#signupModal').modal('hide');
	  $('#loginModal').modal('show');
	});

	$("#signup-trigger").click(function(){
	  $('#loginModal').modal('hide');
	  $('#signupModal').modal('show');
	});

	$('#loginModal').on('shown.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Link that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input').val(recipient)
	})*/

	</script>
</body>
</html>
