<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Welcome to ArtMapr</title>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Bootstrap and Bootcards CSS / JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
	
	<!-- MapBox CSS/JS -->
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>

	<link rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

	<!-- ArtMapr CSS/JS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="javascript/app.js"></script>

	<!-- Sidepanel CSS -->
	<link rel="stylesheet" href="stylesheets/light-theme.css">
    <link rel="stylesheet" href="stylesheets/makeitresponsive.css">
</head>

<body>

	<div id="modal-container">
		<div id="loginModal" class="modal fade auth has-backdrop" tabindex="-1" role="dialog">
			<div class="modal-backdrop">
				<div class="modal-dialog "> <!-- Modal dialog -->
					<header class="modal-header">
					<!-- put button in here --><button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						<img src="images/ArtMapr-Logo-05.png" width="100px" class="img-responsive" alt="Responsive image">
  						<aside>Log in to ArtMapr</aside>
					</header>
					<section class="modal-body">
						<div class= "col-md-4 col-md-offset-4">
						<form action="/views/login" class="auth-login-email auth-form">
							<div class="form-group" id="auth-body">

							<input class="form-control" type="email" name="user[email]" placeholder="Email" required="required" autofocus="autofocus">

							<input class="form-control" type="password" name="user[password]" placeholder="Password" autocomplete="on" required="required" value="">
							</div>
							<div class="checkbox">
				    	    	<label>
				    	    		<input name="remember" type="checkbox" value="Remember Me" checked	> Remember Me
				    	    	</label>
				    	    </div>
				    	    <div class="modal-footer">
				    	    	<a href="#" class="btn btn-outlined btn-theme" data-wow-delay="0.7s">Log In Here</a>
				    	    </div>
			    	    </form>
			    	    </div>
					</section>
					<footer>
						<p>Don’t have an account?&nbsp;<a href="/signup" data-mode="login" class="faux-underline small-caps auth-toggle">Log In</a></p>
					</footer>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default"> <!-- Main Layout Header -->
		<div class="col-md-8">
		<a class="navbar-brand" href="/">
        	<img alt="ArtMapr Brand Logo" src="images/ArtMapr-Logo-05.png" width="80px">
    	</a>
    	</div>
    	<div class="col-md-4">
    		<a href="#" id="signup-button" class="btn btn-outlined btn-theme navbar-right" data-toggle="modal" data-target="#signupModal">Sign Up</a>
    		<a href="#" id="login-button" class="btn btn-outlined btn-theme navbar-right" data-toggle="modal" data-target="#loginModal">Log In</a>
    	</div>
    	
	</nav>

	<div class="container-fluid">
		<div id="map" class="col-xs-12 col-sm-6 col-md-8"></div>
		<!-- Geolocation Button -->
		<!-- <a href='#' id='geolocate' class='ui-button'>Find me</a> -->
		
		<div id="sidepanel" class="col-xs-6 col-md-4">

	        <div class="context subheader">
	          <!-- <p>Map created by <a href="#">{Link to your website}</a></p> -->
	          <form class="navbar-form" role="search">
	          	<input type="text" class="form-control" placeholder="Search">
	          </form>
	        	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	        </div>

	        <article class="panel panel-default bootcards-media col-md-6 col-xs-12" id = "artmapr-cards">

				  <div class="panel-heading">
				    <h3 class="panel-title">Media Card Heading</h3>
				  </div>

				  <div class="panel-body">
				    Media card description
				  </div>

				  <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive" alt="Responsive image"/>

				  <div class="panel-footer">
				    <div class="btn-group btn-group-justified"></div>
				  </div>
  
			</article>
	    </div>
    </div>

	<script type = "text/template" id = "artmapr-cards-template">
	/* Template goes here*/

		// $('#loginModal').modal('hide');
	</script>
</body>
</html>