<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
	</head>

	<body>
		<div class="container-fluid" style="padding-left: 0;">
			<div id="map" class="col-xs-12 col-sm-6 col-md-8"></div>
		</div>


		<header class="row">
			<% include partials/nav %>
		</header>

		<div id="sidepanel" class="col-xs-6 col-md-4">
			<% include partials/cards %>
		</div>

	</body>
</html>
