<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
	</head>

	<body>

		<div class="container-fluid main-wrapper" style="padding-left: 0;">

			<div class="header clearfix">
				<% include partials/nav %>
			</div>

			<!-- MapBox map -->
			<div id="map" class="col-md-8"></div>

			<!-- Geolocate Button -->
			<a href='#' id='geolocate' class='findme-button'>
				<span class="fa-stack fa-lg">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-location-arrow fa-stack-1x"></i>
				</span>
			</a>

			<!-- Sidepanel with cards -->
			<div id="sidepanel" class="col-md-4">
				<div class="wrapper" >
						<% include partials/cards %>
				</div>
			</div>

		</div>

		<footer class="context footer">
			<div class="container">
				<% include partials/footer %>
			</div>
		</footer>
	</body>
</html>
