<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ArtMapr Profile Page</title>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- ArtMapr CSS/JS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="javascript/app.js"></script>
</head>
<body>

	<div class="user">
		<h2>User Profile</h2>
		<table class="table table-striped" id="profile-table">

		</table>
	</div>

	<!-- <h3>Hello, <%= first_name %></h3> -->

	<ul>
		<% for (var i = 0; i < users.length; i++) {%>
			<li><%= user.first_name[i] %></li>
			<li><%= user.last_name[i] %></li>
			<li><%= user.email[i] %></li>
		<% } %>
	</ul>

</body>

</html>
