<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
	</head>

	<body class="container-fluid">

	<header class="row">
		<% include partials/nav %>
	</header>

			<div class="row col-md-4" id="main">
				<div class="panel-default profile-panel">

					<div class="panel-body">
						Gravatar goes in here
				  </div>

		  		<div class="panel-footer">
						<p>User Profile</p>

					</div>

				</div>
			</div>

		<footer class="row">
				<% include partials/footer %>
		</footer>

	</body>
</html>
