/* Change the styles below in order to customize your template */

body{font-family: Source Sans Pro, sans-serif; font-weight: regular; font-size: 15px; color: #F2F2F2; background-color: #FF; margin: 0;}
h1{font-weight: bold; font-size: 31px; letter-spacing: -1px; color: #F2F2F2; line-height: 33px;}
h3{font-weight: bold; font-size: 12px; color: #F2F2F2; text-transform: uppercase; margin: 10px 0 0 0;}
p{margin: 8px 0 20px 0; line-height: 18px;}
a, a:visited{color: #F2F2F2; text-decoration: none;}
a:hover{text-decoration: underline;}

.wrapper{display: block; padding: 0;}

.map{background-color:#eee; position: absolute; top: 0; left: 0; bottom: 0; width: 67%; *height:100%;}
#sidepanel{background-color: none; position: absolute; top: 0; right: 0; bottom: 0; width: 33%; height: 100%; overflow: auto;}

.context{font-family: Source Sans Pro, sans-serif; font-size: 13px; color: #F2F2F2; padding: 10px 0 0 0;}
.subheader{border-bottom: 1px solid #ddd;}
/*.footer{border-top: 1px solid #ddd; margin-top: 30px;}*/
.titleBlock{text-align: right;}
