  body {
  	margin:0;
  	padding:0;
    font-family: 'Libre Baskerville', serif;
  }

/* NAVIGATION BAR */

  .navbar-brand>img {
  display: block;
  -webkit-box-shadow: 15px 15px 100px -15px rgba(20,20,20,1);
  -moz-box-shadow: 15px 15px 100`px -15px rgba(20,20,20,1);
  box-shadow: 15px 15px 100px -15px rgba(20,20,20,1);
  }

  nav.navbar.navbar-default {
      height: 60px;
      background-color: #5B3586;
      border-radius: 0;
      z-index: 1;
    }

  #map {
  	position:absolute;
  	top:0;
  	bottom:0;
  	width:100%;
  }

/*Find Me Button
  .ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:absolute;
  top:50%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }

  .ui-button:hover {
    background:#3074a4;
    color:#fff;
  }*/

/*  article {
    background-color: green;
  }*/

  .navbar-right {
    text-align: center;
    line-height: 55px;
  }

  #login-button  {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
/*    margin: auto;*/
    width: 40%;
    border: 2px solid #F2F2F2;
    border-radius: 0;
    background-color: transparent;
    color: #F2F2F2;
    font-size: 18px;
    text-transform: uppercase;
    z-index: 5;
  }

  #signup-button  {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    /*margin: auto;*/
    width: 40%;
    border: 2px solid #F2F2F2;
    border-radius: 0;
    background-color: transparent;
    color: #F2F2F2;
    font-size: 18px;
    text-transform: uppercase;
    z-index: 5;
  }

  #login-button:hover,
  #login-button:active {
    color: #FFF;
    background: #F2F2F2;
    border-color: #F2F2F2;
}

  #signup-button:hover,
  #signup-button:active {
    color: #FFF;
    background: #F2F2F2;
    border-color: #F2F2F2;
}

/* FOOTER */

footer {
  height: 60px;
  background-color: #5B3586;
  position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

/*  LOGIN & SIGNUP PAGE */

  #login-panel {
    margin-top: 100px;
  }

  #signup-panel {
    margin-top: 80px;
  }

  .img-responsive {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  aside {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    line-height: 1.3;
  }

  input.form-control {
    border-radius: 0;
  }

  .form-control:focus {
    border: 2px solid;
    border-color: #5B3586;
    outline: 0;
    box-shadow: none;
  }

  .panel.panel-default {
    border-radius: 0;
    padding: 0px 5px;
  }

  .panel-heading {
    background-color: transparent;
    padding: 5px 10px;
  }

  .panel-body {
    padding: 5 5 15 5;
  }

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
  width: 14px;
  height: 14px;
  border-radius: 0;
  box-shadow: none;
  }

  .login-page-button {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .signup-page-button {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a.btn.btn-outlined.btn-theme {
    display: block;
    margin: auto;
    width: 60%;
  }

  .btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  border: 3px solid;
  padding:8px 20px;
  width: 40%;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: #5B3586;;
    border-color: #5B3586;;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: #FFF;
    background: #5B3586;
    border-color: #5B3586;
}

/*  SIDEPANEL  */

  #sidepanel {
    padding-top: 70px;
  }

  .context.subheader {
    margin-top: 60px;
  }

  form.navbar-form {
    display: inline-block;
    width: 60%;
  }

  .navbar-form > .form-control {
    border: 3px solid #555;
  }

/*  TEMPLATE CARDS  */

  /*article {
    background-color: #F2F2F2;
  }*/

  .artcard {
    width: 50%;
    height: 250px;
    color: #333;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
  }

  .circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: red;
  }

  .bookmark-icon {
    color: #F2F2F2;
  }

  .heart-icon {
    color: #F2F2F2;
  }

  .comment-icon {
    color: #F2F2F2;    
  }

/*  PROFILE PAGE  */

.profile-panel {
  background-color: yellow;
  margin-top: 60px;
}
