<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header %>
	</head>

	<body class="container-fluid">

	<header class="row">
		<% include ../partials/nav %>
	</header>

  			<div class="col-md-4 col-md-offset-4">
  				<div class="panel panel-default" id="login-panel">
  					<div class="panel-logo"> <!-- ArtMapr Logo -->
  						<img src="../images/ArtMapr-Logo-05.png" width="100px" class="img-responsive" alt="Responsive image">
  						<aside>Log in to ArtMapr</aside>
  					</div>

			 		<div class="panel-body">
			 				<!-- method and action must match name of the route we need to create after finishing with this route -->
			  			<form method="POST" action="/users/login" accept-charset="UTF-8" role="form">
			  			<fieldset>
				  			<div class="form-group">
									<input class="form-control" type="text" name="user[email]" placeholder="Email" required="required">
								</div>
								<div class="form-group has-feedback">
									<input class="form-control" type="password" name="user[password]" placeholder="Password" value="" required="required">
								</div>
								
								<div class="form-group">
					    	  <div class="login-page-button">
					    	  	<button class="btn btn-outlined btn-theme" type="submit">Log In</button>
					    	  </div>
								</div>
				  		</fieldset>
						</form>
					</div>

  				</div>
  			</div>

		<footer class="row">
				<% include ../partials/footer %>
		</footer>

	</body>
</html>
