<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header %>
	</head>

	<body class="container-fluid" >

	<header class="row" id="profile-main">
		<% include ../partials/nav %>
	</header>

			<div class="col-md-4 col-md-offset-4" >
				<div class="panel-default profile-panel">

					<div class="panel-body">
						Gravatar goes in here
				  </div>

		  		<div class="panel-footer">
						<thead>
							<th>User Profile</th>
						</thead>

						<tbody>
							<% for (var i = 0; i < user.length; i++) { %>
								<tr>
									<td><%= user.first_name %></td>
									<td><%= user.last_name %></td>
									<td><%= user.email %></td>
								</tr>
							<% }; %>
						</tbody>
					</div>

				</div>
			</div>

		<footer class="row">
				<% include ../partials/footer %>
		</footer>

	</body>
</html>
