<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header %>
	</head>

	<body class="container-fluid" >

	<header class="row" id="profile-main">
		<% include ../partials/nav %>
	</header>

			<div class="col-md-4 col-md-offset-4" >
				<div class="panel-default profile-panel">
					<a href="/users/logout" class="btn btn-primary">Logout</a>
					
					<div class="panel-body">
						<p>Welcome, <%= userInfo.email %></p>
				  </div>

		  		<div class="panel-footer">
						
					</div>

				</div>
			</div>

		<footer class="row">
				<% include ../partials/footer %>
		</footer>

	</body>
</html>
